<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\webapi.dll" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
			<security>
				<requestFiltering>
					<!-- Configure max file upload size (50MB) -->
					<requestLimits maxAllowedContentLength="52428800" />
				</requestFiltering>
			</security>
			<!-- Enable CORS headers -->
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>